
<script>
window.onload = function (){

	
	sizeContentArea();	
}
 

 </script>
 
<table id=maintable border=0 cellpadding=0 cellspacing=0 align=center>


	<tr>
		<!-- header -->
		<td class="contentHeader">
			<table >
				<tr>
					<td width=95 class="toolheader">Tunes</td>
					<td></td>
				</tr>
			</table>
		</td>
	</tr>


	<tr>
		<!-- MAIN -->
		<td height=100% width=650 valign=top id=mainTableLeftColumn>
			under construction
		</td>
		
	</tr>
		
	<!-- BOTTOM SPACER ROW -->
	<tr>
		<td bgcolor=#555 height=10 colspan=2>
			<div class='info pointer' onclick='saveCurrentView();'>save current page view</div>
		</td>
	</tr>
	
</table>


