<?php

include("functions.php");
$flash = new sessionFlash();

if(isset($_POST["username"])){
	
	$username = $_POST["username"];
	$pwd = $_POST["password"];

	$db = getConnection();
	$hdr = "";
	$status = NULL;

	
	if(FALSE == $db){
		$flash->setFlash('could not connect.');
	}
	else{	
		
		$rs = mysql_query("SELECT * FROM tunes.user WHERE username='$username' AND password='$pwd';");
		if($row = mysql_fetch_array($rs)){
		
			$status = $row["status"];
			
			// check user status
			switch($status){
				case USER_STATUS_NOT_ACTIVATED:
					$flash->setFlash('Your registration was submitted successfully but not activated. To complete registration you should have or will soon receive an email with a link to click for activation.');
					break;
				case USER_STATUS_OK:
					$_SESSION["userName"] = $username;
					$_SESSION["email"] = $row["email"];
					$_SESSION["passwordLength"] = strlen($pwd);
					$_SESSION["userId"] = $row["id"];
					$_SESSION["userType"] = $row["userType"];
					$_SESSION["createDate"] = $row['createDate'];
					break;
				case USER_STATUS_CANCELLED:
					$flash->setFlash('Your registration has been cancelled.');
					break;
				default:
					$flash->setFlash('login failed.');
			}
		}
		else 
			$flash->setFlash('login failed.');
	
		mysql_free_result($rs);

		if($status == USER_STATUS_OK){
			// set/get last active date
			$userId = $_SESSION["userId"];
			mysql_query("UPDATE tunes.user SET lastLogin=now() WHERE id=$userId;");
			$rs = mysql_query("SELECT * FROM tunes.user WHERE id=$userId;");
			$row = mysql_fetch_array($rs);
			$_SESSION["lastLogin"] = $row['lastLogin'];
			mysql_free_result($rs);
			Header("Location:home.php");
		}
	}

	mysql_close($db);
}

?>

<html>

<head>
 <link rel="stylesheet" href="css/style.css" type="text/css" media=screen>
</head>

<body>



	<table class=maintable width=600 border=0 cellpadding=0 cellspacing=0>
		<tr>
			<td colspan=4 class=headerbar>
				<?php include("navbar.php"); ?>
			</td>
		</tr>
		
		
		<tr>
			<!-- header -->
			<td>
				<table class="contentHeader toolheader" width=100%>
					<tr>
						<td width=100% height=18>User Login</td>
					</tr>
				</table>	
			</td>
		</tr>
		
		<tr>
			<td class=info valign=top height=100%>
				
				<?php
					echo $flash->getFlash();
				?>
				<div class=bubbleSection>
				
				<form action="login.php" method=POST>
					<h3 class=hdr>Please Login</h3><br><br>
					<label class="info black">username:</label><input type=text name=username></input><br>
					<label class="info black">password:</label><input type=password name=password></input><br>
					<label>&nbsp;</label><input type=submit class=infohdr value='Login...'></input><br>
					
				</form>
				</div>

				<div class="info black">
					<a href="#" class="info copper">forget password?</a> | 
					<a href="register.php" class="info copper">register</a>
				</div>
			</td>
		</tr>
</body>

</html>
