
<div>
	<table id=newResource class=toolContainer name=toolContainer width=100% style='display:none;'>
		<tr>
			<td height=60 class=toolheader>
				New Resource<br>
				<div class="info white" name=tuneTitleHdr></div>
			</td>
			<td rowspan=3 width=85%>
				<div name=frameBox style="display:none;">
					<span onclick="closeSearchFrame(this)" class="info copper pointer">close</span> | 
					<span class="info cancel pointer" name=toolCancel>full screen</span>
					<div name=searchFrame></div><br>
				</div>
			</td>
		</tr>
		<tr>
			<td height=60 valign=top class=infohdr name=resourceOptionsBox></td>
		</tr>
		<tr>
			<td valign=top ><br><div class="info cancel pointer" name=toolCancel onclick="closeSearchTool(this)">close search</div></td>
		</tr>
	</table>				
</div>




