

<script>
	
	var tuneId = <%= params[:tune_id] %>;
	
	
	function saveResource(elem){
		if(!confirm('save as resource? (cancel to follow link as usual)'))
			return true;
		
		var rl = new RorLink();
		var form = rl.getRorLinkForm('/resources', 'post', 
					{name:'tune_id', value:tuneId},
					{name:'resource[title]', value:elem.innerHTML},
					{name:'resource[url]', value:elem.getAttribute('href')},
					{name:'resource[resource_type]', value:RESOURCE_LINK_AUDIO_FILE}
					)
		var ser_form = $(form).serialize();
		
		$.post('/resources', ser_form, function(resp){
			alert( (!isNaN(resp.id)) ? 'resource saved' : 'save failed');
		})
		return false;
	}
	
	function youtubeIdFromElem(elem){
		var youtube_id = $(elem).parents('form').find('[name=youtube_id]').val().split(":")
		return youtube_id[youtube_id.length - 1];
	}
	

</script>

<div id=showBox style='display:none;'>
	<div name=embedBox></div>
	<span class='info pointer' onclick='stopShow(this);'>close</span> | 
	<span class='info pointer' onclick='saveResource(this);'>save this video link as resource</span>
	
</div>

<%

require 'open-uri'

htmldoc = Nokogiri::HTML(open(params[:url]))

as = htmldoc.css 'a'

contentLinks = Array.new

as.each do |a|
	href = a['href']
	
	if(href =~ /.*\.mp3/)
		# content links in summary array
		contentLinks.push({:href=>href, :content=>a.content})	
	
		# resource links prompts option to save
		a['href'] = params[:url]  + a['href']
		a['onclick'] = 'return saveResource(this);'
	else
		# regular links back to this page
		a['onclick'] = 'return navigateToPage(this);'
	end
	 
end

# show summary option
if contentLinks.length
	concat 'summary of media links'	
	concat '<div style="display:none; background:red;">'.html_safe
		contentLinks.each {|obj| concat (obj[:content] + tag('br')).html_safe}
	concat '</div>'.html_safe
		
end

# show possible link for search terms


concat htmldoc.to_s.html_safe

	
%>














































