
html, body {height:100%;} 
body {background-color:#bbc3cd; margin: 0px 0px 0px 10px; }
#navtable {height:28px; width:1000px; padding:0px; border-spacing:0px; margin-left:auto; margin-right:auto; background:black;}
#maintable {height:95%; background-color:white; width:1000px; padding:0px; margin:0px; border-spacing:0px; margin-left:auto; margin-right:auto;}
#contentarea {height:100%;}

a {text-decoration:none;}
a.navbarlink {color: #aaa; 
			font:bold 13px helvetica; 
			text-decoration:none; }
a.navbarlink:hover {color:#ddd; font-size:13px;}
a.selectedlink {color: #fff; 	
		font:bold 13px helvetica;
		text-decoration:none; }

option {color:#333; 
	text-decoration:none; 
	font:normal 12px arial;}

.helpicon {
	color:#33f; 
	font:bold 12px arial; 
	height:10px; 
	width:9px; 
	background:#f5f5f5; 
	border: 1px solid gray; 
	padding: 0px 1px 2px 3px; 
	border-radius:8px;
	}


.infohdr {color:black; font:bold 13px helvetica;}
.infohdrnosize {color:black; font-family:helvetica; font-weight:bold;}
.infohdrlnk {color:black; text-decoration:none; font:bold 12px helvetica; 
			}
.infohdrlnk:hover {color:#633; cursor:pointer;}
.info {color:#a82; font:bold 12px helvetica; text-decoration:none;}
.contentHeader{background-color:#555; padding:0px 0px 0px 0px; height:30px;}
.toolheader{color:white; font:bold 14px arial; }
.toolheadersm {color:white; font:bold 13px arial; }
.toolBtnOn {color:white; font:bold 13px arial; cursor:pointer;}
.toolBtnOff {color:#aaa; font:bold 13px arial; cursor:pointer;}
.toolBtnOff:hover {color:orange;}

.plainText {color:black; text-decoration:none; font:normal 12px arial; }
.item {color:#640; text-decoration:none; font:normal 12px arial; margin:0px; padding: 0px 2px 0px 2px;}
.item:hover {color:#310; cursor:pointer;}

.itemTunePage {color:white; text-decoration:none; font:normal 12px arial; }
.itemTunePage:hover {color:#eee; cursor:pointer;}

.itemselected {color:#750; background-color:#ddd; text-decoration:none; font:normal 12px arial; padding: 0px 2px 0px 2px;}


.unpaddedtable {padding:0px; border-spacing:0px; width:100%;}
.unpaddedtablenostretch {padding:0px; border-spacing:0px;}

.toolContainer {background-color:#555; height:100%;}
.toolArea {background-color:#393939;}
.ltgrayTableBorder {border-style:solid; border-width:1px; border-color:#eee;}

.groovedbox {border-style:groove; border-width:2px;}
.indentedbox {margin-left:5px;}
.indent20 {margin-left:20px;}
.indent40 {margin-left:40px;}

.settingsSection{margin-left:20px;}

.settingsSection span.label {
	color:gray; 
	font:bold 13px helvetica;
}

.settingsSection span {
	color:#ca4;
	font:normal 12px helvetica; 
	text-decoration:none;
}


#contentarea {
	width:340px; 
	background-color:white;
}


.pointer {cursor:pointer;}

.white {color:white;}
.whiteBkgd {background-color:white;}
.black {color:black;}
.blackBkgd{background-color:black;}
.darkgray {color:#333}
.gray {color:#666;}
.grayBkgd {background-color:#666;}
.ltgray {color:#888;}
.ltgrayBkgd {background-color:#888;}
.ltltgray {color:#ddd;}
.ltltgrayBkgd {background-color:#eee;}

.copper {color:#a82;}
.ltcopper {color:#ca4;}
.darkcopper {color:#861;}


.bold {font-weight:bold;}
.normal {font-weight:normal;}

.flash {background:pink; font:bold 12px helvetica; border:1px solid red; padding: 0px 10px 0px 10px; color:black;}
.flashInfo {background:green; font:bold 12px helvetica; border:1px solid gray; color:white;}

form .hdr{
	width:150px;
	margin: 0px 15px 0px 0px;
	text-align:right;
}

form label {
	float:left;
	width:150px;
	margin: 0px 15px 0px 0px;
	text-align:right;
}

.bubbleBtn, form input[type=submit], form input[type=button]{
		color:#500; 
		font-family:helvetica; 
		font-size:11px; 
		font-weight:bold; 
		margin:2px;
		padding:5px;
		background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd)); 
		border:1px solid gray;
		border-radius: 4px;
		cursor:pointer;
}

.bubbleSection {
	width: 400px;
	border: solid 1px lightgray;
	border-radius: 4px;
	padding:5px;
	background:#eee;
}

.section {
	width: 100%;
	background:#eee;
	padding: 5px 0px 5px 0px;
}



.bubbleSectionTool {
	width: 100%;
	border: solid 1px gray;
	border-radius: 4px;
	padding:5px;
	background:#666;
}



