
<script type="text/javascript">

	function addResourceOptions(tuneId){
			
		try{
			$("#tuneTitleHdr").html(gTune.title); // if a title is available, show it
		}catch(e){}
			
		var searchFrameSrc = "";
		var resourceOptionsBoxes = new Array();
		CBGetElementsByName("resourceOptionsBox", null, resourceOptionsBoxes);
		
		
		// show list of options/web sources to select from for search
		
		for(var r=0; r<resourceOptionsBoxes.length; r++){
			var srcArr = new Array();
			var tuneTitle = "";
			if(typeof(gTune) != 'undefined')
				 tuneTitle = gTune.title;
			
			var tool = $(resourceOptionsBoxes[r]).parents('[name=toolContainer]').get(0);
			
			switch(tool.id){
				case "newResource":
					srcArr.push(["youtube", "/resources/searchyoutube", "keywords=" + tuneTitle + "+irish+music"]);
					srcArr.push(["thesession.org", "searchmp3page.php", "url=http://thesession.org"]);
					srcArr.push(["comhaltas.ie", "searchmp3page.php", "url=http://comhaltas.ie"]);
					srcArr.push(["doug lowder's page", "searchmp3page.php", "url=http://douglowder.com/PloughRecordings/"]);
					srcArr.push(["flute geezers", "searchmp3page.php", "url=http://www.lafferty.ca/music/irish/flute-geezers/"]);
					srcArr.push(["irishflute.podbean.com", "searchmp3page.php", "url=http://irishflute.podbean.com/"]);
					srcArr.push(["tradlessons", "searchmp3page.php", "url=http://tradlessons.com/"]);
					srcArr.push(["tradschool", "searchmp3page.php", "url=http://tradschool.com/"]);
					break;
					
				case "newSheetMusic":
					srcArr.push(["upload sheetmusic", "uploadsheetmusic.php", "keywords=" + tuneTitle + "+irish+music"]);
					srcArr.push(["search thesession.org", "searchsessiondotorg.php", "url=http://thesession.org"]);
					srcArr.push(["search norbeck", "searchmp3page.php", "url=http://homepage.mac.com/douglowder/PloughRecordings/"]);
					break;
			}
				
			for(var i in srcArr){
				
				var searchFrameSrc;
				var div = document.createElement("div");
				resourceOptionsBoxes[r].appendChild(div);
				div.className = "info pointer ltcopper";
				div.innerHTML = "&#8226; " + srcArr[i][0];
				
				var loc = {action:srcArr[i][1], params:[]}
				
				if(tuneId){
					loc.params.push({name:"tuneId", value:tuneId});
				}
				
				for(var j=2; j < srcArr[i].length; j++){
					loc.params.push({name:srcArr[i][j].split('=')[0],
							value:srcArr[i][j].split('=')[1]});
				}
				
				// beware... for loop closure...
				div.onmouseup =  (function(val){
					return function(e){doResourceSearch(this, val);}	
				})(loc);
			}	
		}
		
	}
	
	
	
	function doResourceSearch(clickedElem, options){
		var arr = [options.action, 'get']
		for(var i in options.params)
			arr.push(options.params[i])
	
		var data = $(getRorLinkForm.apply(this, arr)).serialize();
		
		// get search results via ajax
		$.post('/resources/searchyoutube', 
			data,
			function(resp){
			
			
				var frameBox = getToolElementByName(clickedElem, "frameBox");
				var frame = getToolElementByName(clickedElem, "searchFrame");

				// close the results page if it's open and hide the tool frame
				if(frameBox.style.display == ""){
					$(frame).html(resp)
				}
		
				// show frame
				else{
		
					frameBox.style.display = "";
					$(frame).css({width: CBParentElement(frameBox).offsetWidth - 5,
						height: CBParentElement(frameBox).offsetHeight - 50,
						background:'white',
						overflow:'hidden',
						overflowY:'scroll'});
					$(frame).html(resp);
				}
			
			}
		);
		
	}
		
		

	// there are more than one resource tool panels
	// get the child elements corresponding to the current tool	
	function getToolElementByName(elem, name){
		return $(elem).parents('[name=toolContainer]').find('[name='+name+']').get(0);
	}


	// close the search frame but not the tool
	function closeSearchFrame(clickedElem){
		$(getToolElementByName(clickedElem, "frameBox")).hide();
		$(getToolElementByName(clickedElem, "searchFrame")).empty();
	}	

	// close the search frame as well as the tool
	function closeSearchTool(clickedElem){
		closeSearchFrame(clickedElem);
		var tool = $(clickedElem).parents('[name=toolContainer]').get(0);
		closeTool(tool.id)
	}


	// save resource via ajax
	function saveResourceLink(url, title, type, source, tuneId){
		if(typeof(title) == 'undefined')
			title = "";	
			
		title = title.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
			
		var promptCaption = "";
		promptCaption = (title == "" ? 
			"Could not get a title. Enter a title" : 
			"Edit title or click to save:");
			
		title = prompt(promptCaption, title);
		
		if(title == null)
			return;

		//ajax
		var loc = "ajax.php?action=saveResource&retPage=none"+
				"&resourceType="+type+
				"&title="+escape(title)+
				"&url=" + url +
				"&source=" + source;
				
				
		if(typeof(tuneId) != 'undefined')
			loc += "&tuneId="+tuneId;
			
		$.get(loc, function(respText){
				var pairs = respText.split("&");
				var arr = new Array();
				for(i in pairs)
					arr[pairs[i].split("=")[0]] = pairs[i].split("=")[1];
				
				var res = new ResourceItem(arr["id"], arr["tuneId"], parseInt(arr["resourceType"]), unescape(arr["title"]).replace(/\+/g, " "), unescape(arr["url"]), 
					arr["localFile"], arr["comments"], arr["entryDate"], arr["priority"]);
				
				alert("resource link saved.");
				if(typeof(appendResource) != 'undefined'){
					appendResource(res);
				}
			}
		);
		
	}

</script>

<div>
	<table id=newResource class=toolContainer name=toolContainer width=100%>
		<tr>
			<td height=60 class=toolheader>
				New Resource<br>
				<div class="info white" id=tuneTitleHdr></div>
				
			</td>
			<td rowspan=3 width=85%>
				<div name=frameBox style="display:none;">
					<span onclick="closeSearchFrame(this)" class="info copper pointer">close</span> | 
					<span class="info cancel pointer" name=toolCancel>full screen</span>
					<div name=searchFrame></div><br>
				</div>
			</td>
		</tr>
		<tr>
			<td height=60 valign=top class=infohdr name=resourceOptionsBox></td>
		</tr>
		<tr>
			<td valign=top ><br><div class="info cancel pointer" name=toolCancel onclick="closeSearchTool(this)">close search</div></td>
		</tr>
	</table>				
</div>
